{% extends "base.html" %}

{% block content %}
  <h1>{{ hh_name }} / Kontenliste</h1>
  {% if account_list %}
  <table class="table table-striped">
  <tbody>
    {% for account in account_list %}
      <tr>
        <td>
          <strong>{{ account.name }}</strong> ({{ account.comment }})
        </td>
        <td>
          <a href="{% url 'barkasse:account_update' hh account.id %}">Update</a> |
          <a href="{% url 'barkasse:account_delete' hh account.id %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Keine Konten vorhanden.</p>
  {% endif %}
  <p>
    <a href="{% url 'barkasse:account_create' hh %}">Konto hinzufügen</a> | <a href="{% url 'barkasse:home' hh %}">Startseite</a>
  </p>
{% endblock %}