{% extends "base.html" %}

{% block content %}
<h1>Barkasse von {{ hh_name }} </h1>



<h2>Aktuelle Transaktionen</h2>
  {% if transaction_list %}
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Datum</th>
      <th>Ort</th>
      <th>Betrag</th>
      </tr>
    </thead>
  <tbody>
    {% for transaction in transaction_list %}
      <tr>
        <td>
          {{ transaction.date|date:'d.m.Y' }}
        </td>
        <td>
          <strong>{{ transaction.shop }}</strong>
        </td>
        <td class="text-right">
          {{ transaction.amount|floatformat:2 }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Keine Transaktionen vorhanden.</p>
  {% endif %}

<a href="{% url 'barkasse:transaction_create' hh %}" class="btn btn-primary btn-block" role="button">Transaktion hinzufügen</a>

<ul class="nav justify-content-center">
  <li class="nav-item"><a href="{% url 'barkasse:transactions' hh %}" class="nav-link">Transaktionen</a></li>
  <li class="nav-item"><a href="{% url 'barkasse:shops' hh %}" class="nav-link">Shops</a></li>
  <li class="nav-item"><a href="{% url 'barkasse:accounts' hh %}" class="nav-link">Konten</a></li>
  <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Ausloggen</a></li>
</ul>

{% endblock %}