{% extends "base.html" %}

{% block content %}
  <h1>{{ hh_name }} / Shopliste</h1>
  {% if shop_list %}
  <table class="table table-striped">
  <tbody>
    {% for shop in shop_list %}
      <tr>
        <td>
          {{ shop.name }}
        </td>
        <td>
          <a href="{% url 'barkasse:shop_update' hh shop.id %}">Update</a> |
          <a href="{% url 'barkasse:shop_delete' hh shop.id %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Keine Shops vorhanden.</p>
  {% endif %}
  <p>
    <a href="{% url 'barkasse:shop_create' hh %}">Shop hinzufügen</a> | <a href="{% url 'barkasse:home' hh%}">Startseite</a>
  </p>
{% endblock %}