{% extends "base.html" %}

{% block content %}

<h1>Transaktion löschen</h1>

<p>Willst du die Transaktion mit {{ transaction.amount }} Franken vom {{ transaction.date }} in '{{ transaction.shop }}' wirklich löschen?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input class="btn btn-primary"type="submit" value="Ja, löschen.">
  <input class="btn btn-secondary" type="submit" onclick="window.location='{% url 'barkasse:transactions' hh %}' ; return false;" value="Abbrechen">

</form>

{% endblock %}