{% extends "base.html" %}

{% block content %}
  <h1>{{ hh_name }} / Transaktionen</h1>
  {% if transaction_list %}
  <table class="table table-striped">
  <tbody>
   <thead class="thead-dark">
    <tr>
      <th>Datum</th>
      <th>Bezeichnung</th>
      <th>Ort</th>
      <th>Konto</th>
      <th>Betrag</th>
      <th></th>
      </tr>
    </thead>
    {% for transaction in transaction_list %}
      <tr>
        <td>
          {{ transaction.date|date:'d.m.Y' }}
        </td>
        <td>
          <strong>{{ transaction.shop }}</strong>
        </td>
        <td>
          {{ transaction.title }}
        </td>
        <td>
          {{ transaction.account }}
        </td>
        <td class="text-right">
          {{ transaction.amount|floatformat:2 }}
        </td>
        <td>
          <a href="{% url 'barkasse:transaction_update' hh transaction.id %}">Update</a> |
          <a href="{% url 'barkasse:transaction_delete' hh transaction.id %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Keine Transaktionen vorhanden.</p>
  {% endif %}
  <p>
    <a href="{% url 'barkasse:transaction_create' hh %}">Transaktion hinzufügen</a> | <a href="{% url 'barkasse:home' hh %}">Startseite</a>
  </p>
{% endblock %}